<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="portfolio.shiitake.system.repository.ShiitakeRepository">

  <select id="findAllStaff" resultType="portfolio.shiitake.system.data.staff.StaffDto">
    SELECT * FROM staff
  </select>

  <select id="findAllHouse" resultType="portfolio.shiitake.system.data.house.HouseDto">
    SELECT * FROM house
  </select>

  <select id="findAllTask" resultType="portfolio.shiitake.system.data.task.TaskDto">
    SELECT * FROM task
  </select>

  <select id="findAllWorklog" resultType="portfolio.shiitake.system.data.worklog.WorkLogDto">
    SELECT * FROM work_log
  </select>

</mapper>